<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{mobile.image}}">
    </div>
    <div class="col">
      <h6>Description</h6>
      <table>
        <tr>
          <th>Price</th>
          <th>${{mobile.price}}</th>
        </tr>
        <tr>
          <th>Quantity</th>
          <th>{{ mobile.quantity }}</th>
        </tr>
        <tr>
          <th>Best Seller</th>
          <th>{{ mobile.bestSeller }}</th>
        </tr>
        <tr>
          <th>
            <form action="/mobile/order" method="post">
              <input type="number" name="quantity" min="1" max="{{mobile.quantity}}" required>
              <input type="hidden" name="price" value="{{mobile.price}}">
              <input type="hidden" name="id" value="{{mobile._id}}">
              <input type="submit" value="Order">
            </form>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>